---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = "Marvin's Astro Website";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		
		<Header />

		<h1>{pageTitle}</h1>
		<p>Welcome to my Astro site! This is the first page I built, and I'm excited to share it with you.</p>
		<p>As I continue to learn and build more, this site will grow and evolve, so be sure to check back often!</p>
		<p>Meanwhile, feel free to visit my <a href="/blog">blog posts</a> or get to know me a little bit by checking out my <a href="/about">about me</a> page.</a></p>
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
